html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: rgba(65, 0, 96, 0.69);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/web-assets/images/fondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

/* Asegura que el contenido se expanda adecuadamente */
body,
html {
  min-height: 100%;
}

.menu {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  /* Centrar los ítems en la línea del medio */
  justify-content: space-around;
  /* Espacio alrededor de los ítems */
  width: 100%;
  box-sizing: border-box;
}

.facebook,
.whatsapp,
.instagram,
.maps {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* La imagen se ajusta dentro del espacio disponible */
  height: 4vh;
  /* Tamaño basado en el alto de la pantalla */
  min-width: 4vh;
  /* Ancho mínimo para mantener la proporción de la imagen */
}

.logo-menu {
  background: url('/web-assets/images/logoLuigisSinFondo1.png') center / contain no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* La imagen se ajusta dentro del espacio disponible */
  height: 8vh;
  /* Tamaño basado en el alto de la pantalla */
  min-width: 12vh;
  /* Ancho mínimo para mantener la proporción de la imagen */
  flex-grow: 2;
  /* Le damos un poco más de espacio al logo */

  margin-left: 0.5vh;
  margin-right: 0.5vh;
  /* Margen uniforme */
}

.boton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.boton-menu {
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  justify-content: center;
  width: 100%;
}

.facebook {
  background-image: url('/web-assets/images/klipartz1.png');
  flex-grow: 1;
}

.whatsapp {
  background-image: url('/web-assets/images/image1.png');
  flex-grow: 1;
}

.instagram {
  background-image: url('/web-assets/images/klipartz2.png');
  flex-grow: 1;
}

.maps {
  background-image: url('/web-assets/images/image2.png');
  flex-grow: 1;
}

/* HASTA AQUÍ REPLICAR*/

.inicio {
  background: rgba(65, 0, 96, 0.69);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background: url('/web-assets/images/logoLuigisSinFondo2.png') center / contain no-repeat;
  width: 100%;
  height: 100%;
  left: 50%;
}

.logo-2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: 30vh;
  box-sizing: border-box;
}

.inicio .fondo-boton {
  background: #fdb233;
  position: absolute;
  left: 0rem;
  right: 0rem;
  height: 3.8rem;
}

.inicio .texto {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffffff;
}

.inicio .boton-5 {
  cursor: pointer;
  position: relative;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.inicio .boton-1 {
  cursor: pointer;
  position: relative;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.inicio .boton-2 {
  cursor: pointer;
  position: relative;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.inicio .boton-3 {
  cursor: pointer;
  position: relative;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.6rem;
  box-sizing: border-box;
}

.inicio .boton-4 {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.inicio .botones {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  height: 90%;
  max-height: 90%;
  background-color: transparent;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bannerCerrado {
  background: url('/web-assets/images/cerrado.jpg') center / contain no-repeat;
  width: 100%;
  height: 100%;
  left: 50%;
  display: inline-block;
}