.iphone-1415-pro-max-3 .rectangle-7 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .container-4 {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -4.1rem;
  top: 28rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1rem 0 0.1rem 2.1rem;
  width: 31.4rem;
  height: 3.9rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .rectangle-18 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .container-3 {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -4.4rem;
  top: 62.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1rem 0 0.1rem 2.1rem;
  width: 31.4rem;
  height: 3.9rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .rectangle-71 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .container {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -4.4rem;
  bottom: 110.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1rem 0 0.1rem 2.1rem;
  width: 31.4rem;
  height: 3.9rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .logo-luigis-sin-fondo-2 {
  background: url('/web-assets/images/logoLuigisSinFondo2.png') 50% / cover no-repeat;
  margin: 0.1rem 1.3rem 0.5rem 0;
  width: 5rem;
  height: 2.7rem;
}
.iphone-1415-pro-max-3 .klipartz-1 {
  background: url('/web-assets/images/klipartz1.png') 50% / cover no-repeat;
  margin: 0.3rem 1.7rem 0.1rem 0;
  width: 2.8rem;
  height: 2.8rem;
}
.iphone-1415-pro-max-3 .image-1 {
  background: url('/web-assets/images/image1.png') 50% / cover no-repeat;
  margin-right: 1.9rem;
  width: 3.2rem;
  height: 3.3rem;
}
.iphone-1415-pro-max-3 .klipartz-2 {
  background: url('/web-assets/images/klipartz2.png') 50% / cover no-repeat;
  margin: 0.3rem 0.6rem 0.1rem 0;
  width: 3.2rem;
  height: 2.9rem;
}
.iphone-1415-pro-max-3 .pngegg-1 {
  background: url('/web-assets/images/pngegg1.png') 50% / cover no-repeat;
  margin-top: 0.4rem;
  width: 4.9rem;
  height: 2.9rem;
}
.iphone-1415-pro-max-3 .menu {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 0 5.3rem 0.1rem;
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.6rem 0.2rem 0;
  width: 25.1rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .logo-luigis-sin-fondo-1 {
  background: url('/web-assets/images/logoLuigisSinFondo2.png') 50% / cover no-repeat;
  margin-bottom: 5.2rem;
  width: 25.9rem;
  height: 13.9rem;
}
.iphone-1415-pro-max-3 .pizzas {
  position: relative;
  margin: 0 0 0.2rem 0.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 2.8rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .rectangle-12 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  position: absolute;
  right: 6.9rem;
  bottom: 0.1rem;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .promociones {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .container-7 {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.4rem 0 0.1rem 2rem;
  width: 31.4rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .rectangle-14 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  position: absolute;
  right: 6.9rem;
  bottom: 0.1rem;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .arma-tu-pizza {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .container-2 {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0 0rem 1.9rem;
  width: 31.4rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .rectangle-16 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  position: absolute;
  top: 0.1rem;
  right: 6.9rem;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .ingredientes-extras {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 0.92;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .container-6 {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.3rem 0 0.2rem 1.9rem;
  width: 31.4rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .rectangle-26 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  position: absolute;
  top: 0.1rem;
  right: 6.9rem;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .bebidas-yotros {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 1.9rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .container-5 {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 11.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0 0.4rem 1.9rem;
  width: 31.4rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .pizzas-1 {
  position: relative;
  margin: 0 0.1rem 1.2rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 2.8rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .pclasica-2 {
  background: url('/web-assets/images/pclasica2.png') 50% / cover no-repeat;
  margin: 0 1.9rem 3.4rem 1.5rem;
  width: 21.6rem;
  height: 11.8rem;
}
.iphone-1415-pro-max-3 .line-2 {
  margin: 0 0.4rem 3.6rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .pnapolitana-1 {
  background: url('/web-assets/images/pnapolitana1.png') 50% / cover no-repeat;
  margin: 0 1.6rem 4.1rem 1.2rem;
  width: 22.2rem;
  height: 11.1rem;
}
.iphone-1415-pro-max-3 .line-3 {
  margin: 0 0.4rem 3.3rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .pdipollo-1 {
  background: url('/web-assets/images/pdipollo1.png') 50% / cover no-repeat;
  margin: 0 1rem 3.1rem 0.6rem;
  width: 23.3rem;
  height: 12.3rem;
}
.iphone-1415-pro-max-3 .line-4 {
  margin: 0 0.4rem 3.6rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .hawaiana-1 {
  background: url('/web-assets/images/hawaiana1.png') 50% / cover no-repeat;
  margin: 0 1rem 3.1rem 0;
  width: 24.1rem;
  height: 12.1rem;
}
.iphone-1415-pro-max-3 .line-5 {
  margin: 0 0.4rem 3rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .napoles-1 {
  background: url('/web-assets/images/napoles1.png') 50% / cover no-repeat;
  margin: 0 0.1rem 3.2rem 0;
  width: 25.1rem;
  height: 12.6rem;
}
.iphone-1415-pro-max-3 .line-6 {
  margin: 0 0.4rem 2.9rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .espaola-1 {
  background: url('/web-assets/images/espaola1.png') 50% / cover no-repeat;
  margin-bottom: 3.3rem;
  width: 25.3rem;
  height: 12.6rem;
}
.iphone-1415-pro-max-3 .line-7 {
  margin: 0 0.4rem 3.3rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .vegetariana-1 {
  background: url('/web-assets/images/vegetariana1.png') 50% / cover no-repeat;
  margin-bottom: 2.3rem;
  width: 26.4rem;
  height: 13.2rem;
}
.iphone-1415-pro-max-3 .line-8 {
  margin: 0 0.4rem 3.1rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .barbecue-1 {
  background: url('/web-assets/images/barbecue1.png') 50% / cover no-repeat;
  margin-bottom: 2.7rem;
  width: 25.5rem;
  height: 12.9rem;
}
.iphone-1415-pro-max-3 .line-9 {
  margin: 0 0.4rem 3.8rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .mediterranea-1 {
  background: url('/web-assets/images/mediterranea1.png') 50% / cover no-repeat;
  margin: 0 0.6rem 2.4rem 0;
  width: 25rem;
  height: 12.6rem;
}
.iphone-1415-pro-max-3 .line-10 {
  margin: 0 0.4rem 3.5rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .luigis-1 {
  background: url('/web-assets/images/luigis1.png') 50% / cover no-repeat;
  margin: 0 1rem 3.1rem 0.6rem;
  width: 23.4rem;
  height: 12.1rem;
}
.iphone-1415-pro-max-3 .line-11 {
  margin: 0 0.4rem 3rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .arma-tu-pizza-1 {
  background: url('/web-assets/images/armaTuPizza1.png') 50% / cover no-repeat;
  margin-bottom: 4.1rem;
  width: 27.8rem;
  height: 10.4rem;
}
.iphone-1415-pro-max-3 .line-12 {
  margin: 0 0.4rem 2.9rem 0;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .ingredientes-extras-1 {
  background: url('/web-assets/images/ingredientesExtras1.png') 50% / cover no-repeat;
  margin-bottom: 4.8rem;
  width: 25.2rem;
  height: 9.4rem;
}
.iphone-1415-pro-max-3 .rectangle-28 {
  border: 0.1rem solid #000000;
  background: #FDB233;
  position: absolute;
  top: 0.1rem;
  right: 6.9rem;
  width: 15.4rem;
  height: 3.7rem;
}
.iphone-1415-pro-max-3 .bebidas-yotros-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 1.9rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .container-1 {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0 0.4rem 1.9rem;
  width: 31.4rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .palitos-de-ajo {
  background: url('/web-assets/images/palitosDeAjo.png') 50% / cover no-repeat;
  margin: 0 1.2rem 0.5rem 1.8rem;
  width: 21.9rem;
  height: 11.1rem;
}
.iphone-1415-pro-max-3 .line-13 {
  margin-bottom: 0.8rem;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .palitos-parmesano-1 {
  background: url('/web-assets/images/palitosParmesano1.png') 50% / cover no-repeat;
  margin: 0 1.8rem 1.3rem 1.9rem;
  width: 21.3rem;
  height: 10.8rem;
}
.iphone-1415-pro-max-3 .line-14 {
  margin-bottom: 0.8rem;
  width: 16.8rem;
  height: 0rem;
}
.iphone-1415-pro-max-3 .bebidas-1 {
  background: url('/web-assets/images/bebidas1.png') 50% / cover no-repeat;
  margin: 0 0.8rem 5.4rem 0.8rem;
  width: 23.4rem;
  height: 11.9rem;
}
.iphone-1415-pro-max-3 .rectangle-4 {
  background: #5D8F03;
  transform: rotate(-4.668deg);
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  height: 33.1rem;
}
.iphone-1415-pro-max-3 .promociones-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 2.5rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .promo-1 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 15.1rem;
  top: 5.8rem;
  overflow-wrap: break-word;
  font-family: 'Passion One';
  font-weight: 400;
  font-size: 4.4rem;
  letter-spacing: -0.1rem;
  color: #FFB800;
}
.iphone-1415-pro-max-3 .clasca {
  position: absolute;
  top: 8.5rem;
  right: 16.9rem;
  overflow-wrap: break-word;
  font-family: 'Whisper';
  font-weight: 400;
  font-size: 4.4rem;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .rectangle-1 {
  box-shadow: 0.1rem 0.4rem 0.1rem -0.1rem rgba(0, 0, 0, 0.8);
  background: #FFB800;
  position: absolute;
  left: 12.4rem;
  bottom: 7.9rem;
  width: 18.8rem;
  height: 3.3rem;
}
.iphone-1415-pro-max-3 .x-12000 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 12.9rem;
  bottom: 7.4rem;
  overflow-wrap: break-word;
  font-family: 'Rammetto One';
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .pizzas-promo-11 {
  background: url('/web-assets/images/pizzasPromo1.png') 50% / cover no-repeat;
  position: absolute;
  left: 11.4rem;
  bottom: 12rem;
  width: 21.5rem;
  height: 11.8rem;
}
.iphone-1415-pro-max-3 .pizzas-clasicas-familiares-abase-de-salsa-de-tomates-queso-oregano-mas-uno-de-estos-ingredientes-por-pizza-salame-jamn-pepperoni-champin {
  position: absolute;
  left: 12.7rem;
  bottom: 1.5rem;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Sudo Var', 'Roboto Condensed';
  font-style: italic;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .container-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 4rem;
  width: 47.3rem;
  height: 36.8rem;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .rectangle-5 {
  background: #FFFFFF;
  transform: rotate(-4.668deg);
  position: absolute;
  right: -12rem;
  bottom: 47.3rem;
  width: 47.3rem;
  height: 33.1rem;
}
.iphone-1415-pro-max-3 .rectangle-3 {
  background: #9A1414;
  transform: rotate(-4.668deg);
  position: absolute;
  right: -11.3rem;
  bottom: 18.5rem;
  width: 47.3rem;
  height: 33.1rem;
}
.iphone-1415-pro-max-3 .rectangle-6 {
  box-shadow: 0.1rem 0.4rem 0.1rem -0.1rem rgba(0, 0, 0, 0.8);
  background: #FFB800;
  position: absolute;
  left: 50%;
  bottom: 55.1rem;
  translate: -50% 0;
  width: 14rem;
  height: 3.3rem;
}
.iphone-1415-pro-max-3 .container {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  bottom: 54.6rem;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Rammetto One';
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .promo-2 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  bottom: 72.8rem;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Passion One';
  font-weight: 400;
  font-size: 4.4rem;
  letter-spacing: -0.1rem;
  color: #FFB800;
}
.iphone-1415-pro-max-3 .napolitana {
  position: absolute;
  left: 50%;
  bottom: 69.6rem;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Whisper';
  font-weight: 400;
  font-size: 4.4rem;
  letter-spacing: 0.2rem;
  color: #000000;
}
.iphone-1415-pro-max-3 .pizzas-napolitana-familiares-abase-de-salsa-de-tomates-jamon-pimenton-aceitunas-queso-yorgano-mas-una-bebida-de-15-lt-ypalitos-de-ajo {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Sudo Var', 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0rem;
  color: #000000;
}
.iphone-1415-pro-max-3 .frame-1 {
  position: absolute;
  right: 4.7rem;
  bottom: 49rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.iphone-1415-pro-max-3 .promo-del-da {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 1.8rem;
  bottom: 43.9rem;
  overflow-wrap: break-word;
  font-family: 'Passion One';
  font-weight: 400;
  font-size: 3.4rem;
  letter-spacing: -0.1rem;
  color: #FFB800;
}
.iphone-1415-pro-max-3 .lunes {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 1.5rem;
  bottom: 41rem;
  overflow-wrap: break-word;
  font-family: 'Passion One';
  font-weight: 400;
  font-size: 3.4rem;
  letter-spacing: -0.1rem;
  color: #FFB800;
}
.iphone-1415-pro-max-3 .di-pollo {
  position: absolute;
  left: 1.9rem;
  bottom: 39.8rem;
  overflow-wrap: break-word;
  font-family: 'Whisper';
  font-weight: 400;
  font-size: 4.4rem;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .x-17000 {
  position: absolute;
  left: 50%;
  bottom: 25.6rem;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Rammetto One';
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .pizzas-di-pollo-familiares-abase-de-salsa-de-tomates-pollo-choclo-pimentn-queso-yorgano-mas-una-bebida-de-15-lt-ypalitos-de-ajo-salame-jamn-pepperoni-champin {
  position: absolute;
  right: 2.5rem;
  bottom: 21.4rem;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Rammetto One';
  font-weight: 400;
  font-size: 0.5rem;
  letter-spacing: 0rem;
  color: #FFFFFF;
}
.iphone-1415-pro-max-3 .sin-ttulo-31 {
  background: url('/web-assets/images/pizzasPromo2.png') 50% / cover no-repeat;
  position: absolute;
  left: 1rem;
  right: 1.9rem;
  bottom: 58.7rem;
  height: 12rem;
}
.iphone-1415-pro-max-3 .sin-ttulo-41 {
  background: url('/web-assets/images/sinTtulo41.png') 50% / cover no-repeat;
  position: absolute;
  left: 2.1rem;
  right: 1.5rem;
  bottom: 29.3rem;
  height: 11.8rem;
}
.iphone-1415-pro-max-3 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  background: linear-gradient(rgba(65, 0, 96, 0.69), rgba(65, 0, 96, 0.69)), url('/web-assets/images/iphone1415ProMax3.png') 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 77rem;
  box-sizing: border-box;
}
