html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: rgba(65, 0, 96, 0.69);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/web-assets/images/fondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

/* Asegura que el contenido se expanda adecuadamente */
body,
html {
  min-height: 100%;
}

.menu {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  /* Centrar los ítems en la línea del medio */
  justify-content: space-around;
  /* Espacio alrededor de los ítems */
  width: 100%;
  box-sizing: border-box;
}

.facebook,
.whatsapp,
.instagram,
.maps {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* La imagen se ajusta dentro del espacio disponible */
  height: 4vh;
  /* Tamaño basado en el alto de la pantalla */
  min-width: 4vh;
  /* Ancho mínimo para mantener la proporción de la imagen */
}

.logo-menu {
  background: url('/web-assets/images/logoLuigisSinFondo1.png') center / contain no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* La imagen se ajusta dentro del espacio disponible */
  height: 8vh;
  /* Tamaño basado en el alto de la pantalla */
  min-width: 12vh;
  /* Ancho mínimo para mantener la proporción de la imagen */
  flex-grow: 2;
  /* Le damos un poco más de espacio al logo */

  margin-left: 0.5vh;
  margin-right: 0.5vh;
  /* Margen uniforme */
}

.boton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.boton-menu {
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  justify-content: center;
  width: 100%;
}

.facebook {
  background-image: url('/web-assets/images/klipartz1.png');
  flex-grow: 1;
}

.whatsapp {
  background-image: url('/web-assets/images/image1.png');
  flex-grow: 1;
}

.instagram {
  background-image: url('/web-assets/images/klipartz2.png');
  flex-grow: 1;
}

.maps {
  background-image: url('/web-assets/images/image2.png');
  flex-grow: 1;
}

/* HASTA AQUÍ REPLICAR*/

.pizzas {
  background: rgba(65, 0, 96, 0.69);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  position: relative;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.fondo-boton {
  background: #fdb233;
  position: absolute;
  height: 3.8rem;
  left: 0rem;
  right: 0rem;
}

/* HASTA AQUÍ CAMBIAR CLASE PRINCIPAL*/

.pizzas .pizzas-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Lalezar';
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffffff;
}

.pizzas .pclasica-2 {
  background: url('/web-assets/images/pclasica2.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  margin-top: 1.5rem;
  width: 22.5rem;
  height: 12.3rem;
}

.pizzas .line-2 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .pnapolitana-1 {
  background: url('/web-assets/images/pnapolitana1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.9rem;
}

.pizzas .line-3 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .pdipollo-1 {
  background: url('/web-assets/images/pdipollo1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.9rem;
}

.pizzas .line-4 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .hawaiana-1 {
  background: url('/web-assets/images/hawaiana1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.3rem;
}

.pizzas .line-5 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .napoles-1 {
  background: url('/web-assets/images/napoles1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.2rem;
}

.pizzas .line-6 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .espaola-1 {
  background: url('/web-assets/images/espaola1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.2rem;
}

.pizzas .line-7 {
  margin: 0 0 1.7rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .vegetariana-1 {
  background: url('/web-assets/images/vegetariana1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.2rem;
}

.pizzas .line-8 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .barbecue-1 {
  background: url('/web-assets/images/barbecue1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.4rem;
}

.pizzas .line-9 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .mediterranea-1 {
  background: url('/web-assets/images/mediterranea1.png') 50% / cover no-repeat;
  margin-bottom: 1.6rem;
  width: 22.5rem;
  height: 11.3rem;
}

.pizzas .line-10 {
  margin: 0 0 1.6rem 0.1rem;
  width: 16.8rem;
  height: 0rem;
}

.pizzas .luigis-1 {
  background: url('/web-assets/images/luigis1.png') 50% / cover no-repeat;
  width: 22.5rem;
  height: 11.7rem;
  margin-bottom: 5vh;
}

.pizzas .contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.pizzas .separador {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 80vw;
  max-height: 1rem;
}